@import 'src/assets/styles/variables.scss';

@mixin span-icons($url, $width, $height) {
  display: inline-block;
  background: url($url) no-repeat center;
  width: $width;
  height: $height;
}

.open-tutorial-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  background-color: $oscuro;
  border-radius: 50%;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  box-shadow: 0 0 10px rgba(209, 183, 183, 0.2);
  transition: background-color 0.3s;
  &:hover {
    background-color: $grey;
  }
  &:after {
    content: '?';
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.btn-container.primary-buttons {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
}

.primary-btn {
  padding: 12px 20px;
}

.secondary-btn {
  border: 1px solid $oscuro;
  padding: 8px 16px;
  background-color: transparent;
}

#printing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-grey;
  padding: 32px 16px 80px;
}

.is-modal-active {
  height: 270vh;
}

#pdf-title {
  border: none;
  border-bottom: 2px solid $oscuro;
  font-size: 2.4rem;
  padding: 8px;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-align: center;
  width: 680px;
}

.download-btn span {
  @include span-icons('../assets/icons/download.svg', 24px, 24px);
}

.upload-btn--modal span {
  @include span-icons('../assets/icons/cloud-upload.svg', 24px, 24px);
}
