<div id="printing" [ngClass]="{'is-modal-active': isModalImageActive}">
  <input type="text" placeholder="Título" id="pdf-title">
  <div class="btn-container primary-buttons">
    <button class="upload-btn--modal btn primary-btn" (click)="openModalImage()"><span></span>Subir imagen</button>
    <button class="download-btn btn primary-btn" (click)="downloadPDF()"><span></span>Descargar PDF</button>
  </div>
  <app-canvas (pdfCanvas)="receiveCanvas($event)" (orientationA4)="receiveOrientation($event)" (bordersA4)="receiveBorders($event)"></app-canvas>
  <p id="mobile">Este demo no está disponible para la versión Móvil o Tablet. Por favor, abra la página web desde una computadora.</p>
</div>
<button (click)="openModalTutorial()" class="open-tutorial-btn"></button>
<app-modal [isOpenModal]="showModalImage" (modalClosed)="onModalImageClosed()">
  <app-upload-image (close)="onModalImageClosed()" [orientationA4]="orientation" [borders]="borders"></app-upload-image>
</app-modal>
<app-modal [isOpenModal]="showModalTutorial" (modalClosed)="onModalTutorialClosed()">
  <app-tutorial (close)="onModalTutorialClosed()"></app-tutorial>
</app-modal>
